<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>VueJS</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="demo" :style="{ backgroundColor: color }"></div> <!-- Either camelCase or 'kebab-case' in quotes -->
      <div class="demo" :style="myStyle"></div>
      <div class="demo"></div>
      <hr />
      <input type="text" v-model="color" />
      <input type="text" v-model="width" />
    </div>

    <script src="script.js"></script>
  </body>
</html>